
<div class="container">
   
 <!-- {{title}} -->
    <div class="cd">
       <h3 style="float: left; font-family: fantasy; font-size: 30px;"> </h3>
       <img src="../../assets/images/korepic.png" style="width: 30%;">
       <img src="../../assets/images/images (1).jpg" style="float: right; border-radius: 150px; margin-right: 0px;" >
       <h4 style="margin-top: 200px;" >Agile </h4>
       <hr width="70%" style="float: left; border-top: 2px dotted black;">
       <p style="width: 80%; color: rgba(0, 0, 0, 0.522); margin-top: 10px;">Combining the capacity of large global providers with the velocity of the tight team,we get more of the right things done,faster.</p>
       
       <button (click)="btnclick()">Click</button>
    </div>
  