<div class="container">
    <div class="cd">
        <h3 style="float: left; font-family: fantasy; font-size: 30px;"> </h3>  
        <img src="../../assets/images/korepic.png" style="width: 30%;">
        <img src="../../assets/images/images (2).jpg" style="float: right; ">
        <h4>Innovative</h4>
        <hr style="width: 70%; border-top: 2px dotted black; float: left;">
        <br>
        <p style="margin-left: 0px; width: 80%; margin-top: 10px; color: rgba(0, 0, 0, 0.555);" > We explore and consider ideas from every source enabling us to deliver insights leading to new,better outcomes in IoT</p>

        <button (click)="btnclick()">click</button>
    </div>

</div>