<div class="container">

    <div class="cd">
        <h3 style="float: left; font-family: fantasy; font-size: 30px"> </h3>   
        <img src="../../assets/images/korepic.png" style="width: 30%;">
        <img src="../../assets/images/images.jpg" style="float: right;">
        <h4>Simplify <br> IoT </h4>
        <hr style="width: 70%; border-top: 2px dotted black; float: left;">
        <br>
        <p style="width: 80%; color: rgba(0, 0, 0, 0.555); margin-top: 0px;">KORE simplifies complexity across the IoT ecosystem, enabling our customers IoT vision and delivering measurable value.</p>
        <button (click)="btnclick()">Click</button>
    </div>
</div>